@import 'tailwindcss';
@import '../../styles/theme.css';

@custom-variant dark (&:where(.dark, .dark *));

html, body {
	background-color: var(--ctp-base);
}

select option {
	background-color: var(--ctp-surface0);
	color: var(--ctp-text);
}

.dark input[type="number"],
.dark input[type="text"],
.dark input[type="time"],
.dark input[type="date"],
.dark select {
	color-scheme: dark;
}

@theme inline {
	--color-ctp-base: var(--ctp-base);
	--color-ctp-mantle: var(--ctp-mantle);
	--color-ctp-crust: var(--ctp-crust);
	--color-ctp-surface0: var(--ctp-surface0);
	--color-ctp-surface1: var(--ctp-surface1);
	--color-ctp-surface2: var(--ctp-surface2);
	--color-ctp-overlay0: var(--ctp-overlay0);
	--color-ctp-overlay1: var(--ctp-overlay1);
	--color-ctp-overlay2: var(--ctp-overlay2);
	--color-ctp-subtext0: var(--ctp-subtext0);
	--color-ctp-subtext1: var(--ctp-subtext1);
	--color-ctp-text: var(--ctp-text);
	--color-ctp-lavender: var(--ctp-lavender);
	--color-ctp-blue: var(--ctp-blue);
	--color-ctp-sapphire: var(--ctp-sapphire);
	--color-ctp-sky: var(--ctp-sky);
	--color-ctp-teal: var(--ctp-teal);
	--color-ctp-green: var(--ctp-green);
	--color-ctp-yellow: var(--ctp-yellow);
	--color-ctp-peach: var(--ctp-peach);
	--color-ctp-maroon: var(--ctp-maroon);
	--color-ctp-red: var(--ctp-red);
	--color-ctp-mauve: var(--ctp-mauve);
	--color-ctp-pink: var(--ctp-pink);
	--color-ctp-flamingo: var(--ctp-flamingo);
	--color-ctp-rosewater: var(--ctp-rosewater);
}
